<mat-toolbar>Login</mat-toolbar>
<!-- <div class="login-form">
    <div>
        <p>Please fill in your credentials to login.</p>
        <form (ngSubmit)="onLogin(form)" #form="ngForm">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Username</mat-label>
                <input matInput [(ngModel)]="user.username" name="username">
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input matInput type="password" [(ngModel)]="user.password" name="password">
            </mat-form-field>
            <div>
                <button mat-button [disabled]="!form.form.valid">Login</button>
            </div>
        </form>
        <div style="margin-top: 10px">
            <button mat-button routerLink="/register">Sign Up</button>
        </div>
    </div>
</div> -->
<div class="login-form">
    <div>
        <p>Please fill in your credentials to login.</p>
        <form [formGroup]="loginUser" (ngSubmit)="onLogin(form)" #form="ngForm">
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" (focus)="clear(form)">
                <mat-error *ngIf="username.invalid && username.touched">
                    <div *ngIf="username.errors.required">
                        <strong>Required</strong>
                    </div>
                </mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline" style="width: 100%">
                <mat-label>Password</mat-label>
                <input matInput type="password" formControlName="password" (focus)="clear(form)">
                <mat-error *ngIf="password.invalid && password.touched">
                    <div *ngIf="password.errors.required">
                        <strong>Required</strong>
                    </div>
                </mat-error>
                <mat-error *ngIf="password.invalid && !password.errors.required">
                    <strong>Incorrect username or password</strong>
                </mat-error>
            </mat-form-field>
            <div>
                <button mat-button type="submit" [disabled]="!loginUser.valid">Login</button>
            </div>
        </form>
        <div style="margin-top: 10px">
            <button mat-button routerLink="/register">Sign Up</button>
        </div>
    </div>
</div>