.toolbar {
    top: 0;
    position: sticky;
    z-index: 99;
}

.footer {
    height: 100px;
}

.sidenav-container {
    height: 100%;
}

.sidenav {
    position: fixed;
    top: 64px;
    height: 100%;
    width: 150px;
    overflow: auto;
}