<mat-toolbar>Sign Up</mat-toolbar>
<div class="register-form">
    <p>Please fill in this form to create an account.</p>
    <form [formGroup]="registerForm" (ngSubmit)="onRegister(form)" #form="ngForm">
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Username</mat-label>
            <input matInput formControlName="username">
            <mat-error *ngIf="username.invalid && username.touched">
                <div *ngIf="username.errors.required">
                    <strong>Required</strong>
                </div>
            </mat-error>
            <mat-error *ngIf="registerForm.get('username').errors?.usernameExists">Username already exists</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Password</mat-label>
            <mat-pass-toggle-visibility #toggle1 matSuffix></mat-pass-toggle-visibility>
            <mat-hint align="end" aria-live="polite"> {{password.value.length}} / {{passwordComponent.max}} </mat-hint>
            <input matInput type="password" [type]="toggle1.type" formControlName="password">
            <mat-error *ngIf="password.invalid && password.touched">
                <div *ngIf="password.errors.required">
                    <strong>Required</strong>
                </div>
            </mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline" style="width: 100%">
            <mat-label>Confirm Password</mat-label>
            <mat-pass-toggle-visibility #toggle2 matSuffix></mat-pass-toggle-visibility>
            <input matInput type="password" [type]="toggle2.type" formControlName="confirmPassword" [errorStateMatcher]="matcher">
            <mat-error *ngIf="registerForm.hasError('notSame')">
                <strong>Passwords must match</strong>
            </mat-error>
        </mat-form-field>
        
        <mat-password-strength #passwordComponent [password]="password.value">
        </mat-password-strength>
        <mat-password-strength-info *ngIf="password.valid || password.touched" [passwordComponent]="passwordComponent">
        </mat-password-strength-info>
        <div style="margin-top: 10px">
            <button mat-button
                [disabled]="!(!registerForm.invalid && passwordComponent.strength === 100)">Register</button>
        </div>
    </form>
    <div style="margin-top: 10px">
        <button mat-button routerLink="/login">Sign In</button>
    </div>
</div>