<mat-toolbar>Home</mat-toolbar>
<div class="container">
    <span class="fill"></span>
    <div>
        <mat-card class="card">
            <mat-card-header>
                <mat-card-title>Chen's Chinese Takeaway</mat-card-title>
                <mat-card-subtitle>Asian Cuisine Takeaway & Delivery</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/chen-s-chinese-take-away.jpg">
            <mat-card-content>
                <div class="content">
                    Chen's Chinese Takeaway is the best Chinese takeaway in the Blackwater, Sandhurst and Yateley area.
                </div>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button routerLink="/order">
                    <mat-icon>restaurant</mat-icon>Place Order
                </button>
                <button mat-button routerLink="/about">
                    <mat-icon>store</mat-icon>About Us
                </button>
                <button mat-button routerLink="/rate">
                    <mat-icon>star_rate</mat-icon>Rate Us
                </button>
            </mat-card-actions>
        </mat-card>
    </div>
    <span class="fill"></span>
</div>